/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {font-family: "Ubuntu", sans-serif !important;}
   
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div#wrapper {
	position: absolute;
	height: 100%;
	width: 100%; 
	padding: 0; 
	margin: 0;
	background: #C92162;
	overflow: hidden;
	top: 0;
	bottom: 0; 
	left: 0;
	right: 0;
	}
	
a:link,
a:active,
a:hover,
a:visited {text-decoration: none;}

div#header {
width: 100%;
display: block;
margin: 0 auto;
background: #BC1E5E; /* Old browsers */
background: -moz-linear-gradient(top, #96174c 0%, #b01c5a 10%, #bc1e5e 51%, #ab1b58 87%, #96174c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96174c), color-stop(10%,#b01c5a), color-stop(51%,#bc1e5e), color-stop(87%,#ab1b58), color-stop(100%,#96174c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #96174c 0%,#b01c5a 10%,#bc1e5e 51%,#ab1b58 87%,#96174c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #96174c 0%,#b01c5a 10%,#bc1e5e 51%,#ab1b58 87%,#96174c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #96174c 0%,#b01c5a 10%,#bc1e5e 51%,#ab1b58 87%,#96174c 100%); /* IE10+ */
background: linear-gradient(to bottom, #96174c 0%,#b01c5a 10%,#bc1e5e 51%,#ab1b58 87%,#96174c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96174c', endColorstr='#96174c',GradientType=0 ); /* IE6-9 */
text-align: center;
padding: 1% 0%;
border-bottom: 1px solid black;

}

nav {margin: 0;}
nav ul {list-style-type: none; position: relative; right: 5%;}
nav ul li {display: block;}
nav ul li img.menu {width: 100%;}
nav a {color: #f19115; font-weight: 700;}

div#body {
	height: 100%;
	top: 0;
	bottom: 0;
	background-image: url(../img/body-bg.png);
	background-repeat: repeat-x, no-repeat;
	background-position: 0 0, -267px -110px;
	background-attachment: scroll, scroll;
	background-color: transparent, transparent;
	overflow: hidden;
}
div#body p {display: block;}
div#body p em {display: none;}

div#footer {
padding: 0px;
position: fixed; 
bottom: 0; 
width: 100%;
text-align: center;
background: #c92162; /* Old browsers */
background: -moz-linear-gradient(top,  #c92162 0%, #bc1e5e 72%, #96174c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c92162), color-stop(72%,#bc1e5e), color-stop(100%,#96174c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c92162 0%,#bc1e5e 72%,#96174c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c92162 0%,#bc1e5e 72%,#96174c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c92162 0%,#bc1e5e 72%,#96174c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c92162 0%,#bc1e5e 72%,#96174c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92162', endColorstr='#96174c',GradientType=0 ); /* IE6-9 */
border-top: 1px solid #891647;
}

#footer p {
	font-size: 0.95em;
	text-shadow: 2px 2px 3px #161617;
    filter: dropshadow(color=#161617, offx=2, offy=2);
	color: white;
	overflow: hidden;
	height: 35px;
	}
#footer p.info { padding-top: 4px; height: 20px; border-top:1px solid #891647;}
#footer p a:link,
#footer p a:active,
#footer p a:hover,
#footer p a:visited {color: white; font-weight: 700;}
#footer table {width: 100%; }
#footer table td,th { padding: 5px; margin: 0px; }

/* INTERNAL LAYOUT */

#header.internal {padding: 10px 0px; height: auto; text-align: center;}
#header img.header-internal {width: 60%;}
#body.internal {background: white; overflow: auto;}
/* #body.details {overflow:auto; height: 80%; top: auto; bottom: auto;} */
#body.internal article {padding: 0 0 60px 0;}
#footer.internal {padding: 0px; display: block; width: 100%; height: auto; bottom: 0px; }
/* div#footer.details {bottom: auto; overflow: visible; z-index: 100;} */
#footer.internal p {height: auto;}
#footer.internal img.back {margin-right: 25px; width: 18px; height: 18px; margin-bottom: 5px; }
#body.internal article {display: block; width: 70%; margin: 0 auto;}
#body.internal img.event-feat-img {max-width: 94%; float: none; clear: both; display: block; margin: 20px 0; position: relative;}



/* INTERNAL FONTS */
h1 {text-transform: uppercase; color: #c3205f; font-weight: 700; margin: 10px 0 0 0; font-size: 150%; line-height: 1em;}
#body.internal p.directions-link a {text-transform: uppercase; color:#fb9934; font-weight: 700; text-decoration: underline;}
p.event-info,
p.event-address {font-weight: 700; margin: 0; line-height: 1.2em;}
div#body article form {padding: 20px 0px;}
input.map {background: url(../img/button-map.png) no-repeat; border:none; width: 268px; height: 58px; margin-top: 20px;}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
} 

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen 
and (min-width: 300px) 
and (orientation:landscape) {
	div#header {height: 100%;}
	nav ul li img.menu { width: 300px;}	
	div#body {display: none;}
	div#footer {display: none;}
	div#body.internal {display: block;}
	div#footer.internal {display: block;}
}

@media only screen 
and (min-width: 300px) 
and (orientation:portrait) {
		div#header.home {padding: 1%; width: 25%; display: inline; }
		div#body.home { background-position: -270px -25px; height: 300px;}
		nav ul { left: -9%; top: 6px;}
		nav ul li img.menu { width: 300px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }	
		
        /* new styles */
		#map { height: 70%; }
		#map_home { height: 70%; width:100%; display: block; }
		
		#listingDetails #map { height: 100%; }
}
		
		

@media only screen 
and (min-width: 320px) 
and (orientation:portrait) {
		div#header.home {padding: 2%; width: 100%; display: block; height: 40%;}
		div#body.home { background-position: -270px -25px; height: 300px;}
		nav ul { left: -11%; top: -6px;}
		nav ul li img.menu { width: 300px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 0px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }
		#map { height: 185px; width:320px }
		#map_home { height: 185px; width:320px }
		
		
}


@media only screen 
and (min-width: 480px) 
and (orientation:landscape) {
	div#header { padding-top: 0; height: auto; padding-bottom: 3px; display: block; }
	div#body.home { background-position: -270px -25px; height: 300px;}
	nav ul { margin-top: 0; margin-bottom: 0; }
	div#body {display:block; background-color: white, white}
	nav ul li img.menu { width: 300px;}	
	div#footer {display: inline; position: relative; }	
	#map { height: 67%; width:100%; display: block;}
	#map_home { height: 60%; width: 100%;}
	
		
}
@media only screen and (min-width: 800px) {
	div#header { padding-top: 0; height: auto; padding-bottom: 3px; display: block; }
	div#body.home { background-position: -270px -25px; height: 300px;}
	nav ul { margin-top: 0; margin-bottom: 0; }
	div#body {display: inline;}
	nav ul li img.menu {width: 45%;}
	#map { height: 67%; display: block; }
	#map_home { height: 60%; width: 100%;}
	
}
  
@media only screen and (min-width: 1200px) {
    /* Style adjustments for viewports that meet the condition */
	div#header { padding-top: 0; height: auto; padding-bottom: 3px; display: block; }
	div#body.home { background-position: -270px -25px; height: 300px;}
	nav ul li img.menu {width: 20%;}
	#map { height: 67%; }
	#map_home { height: 50%; width: 100%;}
	
	
}
@media screen 
and (min-width: 800px) 
and (orientation:landscape) {
	div#header { padding-top: 0; height: auto; padding-bottom: 3px; display: block; }
	div#header img.header-internal,
	div#body.internal article	{width: 465px;}
	#map_home { height: 50%; width: 100%;}
	

}
@media screen and (orientation:portrait) {
    /* Portrait styles */
}

/* Android */
@media screen 
and (min-width: 599px) 
and (orientation:landscape) {
	div#header.home {padding: 2%; width: 100%; display: block;	}
	nav ul {right: 5%; top: -15px;}
	nav ul li img.menu {width: 280px;}
	div#footer.home {display: block; width: 100%; height: auto; bottom: 0px;}
	div#body.home {display: block; width: 100%; height: 28%; background-position: center -30px; }
	#footer p { margin-top: 5px; margin-bottom: 0px; }
	#footer p.info { padding-bottom: 0; bottom: 0; height: 28px; padding-top: 8px; margin-top: 0; }
	#map_home { height: 50%; width: 100%;}
	
}


/******************* iPad iOS6 retina */
@media	only screen 
		and (device-width: 768px)
		and (-webkit-min-device-pixel-ratio: 1.5)
		and (orientation: portrait) {	
		div#header.home { width: 100%; display: block; height: 30%;}
		nav ul {}
		nav ul li img.menu {width: 450px; }
		div#footer.home {display: block; width: 100%; height: auto; bottom: 0px;}
		div#body.home {display: block; width: 100%; height: 40%; background-position: center 0; }
		#footer p { margin-top: 5px; margin-bottom: 0px; font-size: 18px;}
		#footer p.info { padding-bottom: 0; bottom: 0; height: 28px; padding-top: 8px; margin-top: 0; }
			
}
@media	only screen 
	and (device-width: 768px) 
	and (-webkit-max-device-pixel-ratio: 1)
	and (orientation: landscape) {
		div#header.home { padding: 2%; width: 100%; display: block; height: 25%; margin-top: 16px;}
		nav ul {right: 5%; top: -20px;}
		nav ul li img.menu {width: 250px;}
		div#footer.home {display: block; width: 100%; height: auto; bottom: 0px;}
		div#body.home {display: block; width: 100%; height: 40%;  }
		#footer p { margin-top: 0px; margin-bottom: 0px; font-size: 18px;}
		#footer p.info { padding-bottom: 0; bottom: 0; height: 28px; padding-top: 0px; margin-top: 0; }
} 

/******************* iPad iOS6 non-retina */
@media only screen
	and (device-width: 768px) 
	and (-webkit-max-device-pixel-ratio: 1)
	and (orientation: portrait) {
		div#header.home { width: 100%; display: block; height: 30%;}
		nav ul {}
		nav ul li img.menu {width: 450px; }
		div#footer.home {display: block; width: 100%; height: auto; bottom: 0px;}
		div#body.home {display: block; width: 100%; height: 40%; background-position: center 0; }
		#footer p { margin-top: 5px; margin-bottom: 0px; font-size: 18px;}
		#footer p.info { padding-bottom: 0; bottom: 0; height: 28px; padding-top: 8px; margin-top: 0; }
}
@media only screen
	and (device-width: 768px) 
	and (-webkit-max-device-pixel-ratio: 1)
	and (orientation: landscape) {
		div#header.home { padding: 2%; width: 100%; display: block; height: 25%; margin-top: 16px;}
		nav ul {right: 5%; top: -20px;}
		nav ul li img.menu {width: 250px;}
		div#footer.home {display: inline; width: 100%; height: auto; }
		div#footer.internal {display: inline; width: 100%; height: auto; }
		div#body.home {display: block; width: 100%; height: 40%;  }
		#footer p { margin-top: 0px; margin-bottom: 0px; font-size: 18px;}
		#footer p.info { padding-bottom: 0; bottom: 0; height: 28px; padding-top: 0px; margin-top: 0; }
} 
 
/******************* iPhone 5 4" iOS 6 retina */
@media only screen 
	and (-webkit-min-device-pixel-ratio: 1.5)
    and (device-width: 320px)
    and (orientation: portrait) {
		div#header.home {padding: 2%; width: 100%; display: block; height: 35%;}
		div#body.home { background-position: -270px -25px; }
		nav ul { left: -12%; top: -15px;}
		nav ul li img.menu { width: 200px; height: 45px; }	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }	
		div.infowin { width: 350px; }		
}
@media only screen 
	and (-webkit-min-device-pixel-ratio: 1.5)
    and (device-width: 320px)
    and (orientation: landscape) {	
		div#header.home {padding: 2%; width: 100%; display: block; height: 100%; }
		div#body.home { background-position: -220px -33px; display: block; height: 300px; }
		nav { width: 200px; position: relative; left: 0;}
		nav ul { left: 6%; top: -20px; }
		nav ul li img.menu { width: 200px; height: 45px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }
		
}

/******************* iPhone 5 3.5" iOS 6 retina */ 
@media only screen 
	and (-webkit-min-device-pixel-ratio: 1.5)
    and (device-width: 320px)
    and (max-height: 360px)
    and (orientation: portrait) {
		div#header.home {padding: 2%; width: 100%; display: block; height: 43%; }
		div#body.home { background-position: -270px -58px; }
		nav ul { left: -9%; top: -20px;}
		nav ul li img.menu { width: 200px; height: 45px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }	
}
@media only screen 
	and (-webkit-min-device-pixel-ratio: 1.5)
    and (device-width: 320px)
    and (max-height: 360px)
    and (orientation: landscape) {	
		div#header.home {padding: 2%; width: 100%; display: block; height: 100%; }
		div#body.home { background-position: -220px -33px; display: block; height: 300px; }
		nav { width: 200px; position: relative; left: 0;}
		nav ul { left: 6%; top: -20px; }
		nav ul li img.menu { width: 200px; height: 45px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }
}

/******************* iPhone 5 4" iOS 6 non-retina */
@media only screen 
	and (-webkit-max-device-pixel-ratio: 1)
    and (device-width: 320px)
    and (orientation: portrait) {
		div#header.home {padding: 2%; width: 100%; display: block; height: 48%; }
		div#body.home { background-position: -220px -103px; }
		nav ul { left: -12%; top: -18px;}
		nav ul li img.menu { width: 200px; height: 45px;}	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }	
}
@media only screen 
	and (-webkit-max-device-pixel-ratio: 1)
    and (device-width: 320px)
    and (orientation: landscape) {	
		div#header.home {padding: 2%; width: 100%; display: block; height: 100%; }
		div#body.home { background-position: -220px -33px; display: block; height: 300px; }
		nav { width: 200px; position: relative; left: 0;}
		nav ul { left: 6%; top: -20px; }
		nav ul li img.menu { width: 200px; height: 45px; }	
		#footer p { margin: 0; padding: 0; margin-top: 2px; padding-top: 5px; font-size: 80%; }
		#footer p.info { margin-top: 0px; padding-top: 3px; font-size: 12px; }
}

/********* other */
.ui-btn { margin: 0; }
h1.secondary { margin-top: 13px; }
/* .select_region { display: none; } */
a.infoWinTitleURL { color: #BC1E5E; font-size: 19px; font-weight: 700; }
div.extra-info a, article a, p.dirread a, p.dirread { color: #ff9933; font-weight: 700; }
p.dirread { margin-bottom: 0; }
p.date { color: white; padding: 0; margin: 0; margin-top: 12px; }
p.event-info, p.event-dates { font-weight: 300; margin-top: 13px; margin-bottom: 13px; }
p.event-info a { color: #BC1E5E; }
article h1 { font-size: 26px; }
article h2 { font-size: 14px; text-align: left; font-weight: 300; margin-top: 5px; margin-bottom: 0; font-style: italic; }
article h3 { margin-bottom: 0px; margin-top: 13px; }
div.extra-info { margin-top: 18px; border-top: 8px dotted #989898; padding-top: 13px; }
img.backarrow { margin-top: 13px; margin-bottom: 40px; }
a.infoWinTitleURL, div.infowin { line-height: 18px; }
a.infoWinTitleURL { display: block; text-transform: uppercase; }
a.closest {  }
div.infowin { width: 220px; }		


